.blc-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blc-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    padding: 40px;
    border-radius: 10px;
}

.blc-form * {
    margin-bottom: 5px;
}